.flex {
  display:flex
}

.flex-item {
  flex:1
}

.flex-align-center {
  display: flex;
  align-items:center
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center
}

